*, *:after, *:before {
  box-sizing: border-box;
}

html, body {
  font-family: 'Helvetica Neue', arial;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  padding: 0;
  margin: 0;
  background-color: #FAFBFB;
  color: #1E3945;
}

.fixed-container {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1280px) {
  .fixed-container {
    width: 996px;
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

/* -------- -------- Javascript Accordion -------- -------- */
.list-item .accordion {
  color: #1E3945;
}

li + li {
  margin-top: 6px;
}

.list-item {
  padding-left: 8px;
}

.accordion__block {
  width: 690px;
}

.accordion__cell {
  border: 1px solid #E6E9EA;
  border-radius: 2px;
}

.cell-1 {
  border-bottom: none;
}

.accordion {
  height: 48px;
  cursor: pointer;
  width: 100%;
  text-align: left;
  font-size: 16px;
  color: #1E3945;
  border: 0;
  padding: 12px 16px;
}

.panel {
  max-height: 0;
  overflow: hidden;
  transition: .2s ease-out;
  background-color: #FFFFFF;
}

.accordion:after {
  content: url("./images/ic_expand_more.svg");
  float: right;
}

.active:after {
  content: url("./images/ic_expand_less.svg");
}

.accordion:focus {
  outline: none;
}

.open:after {
  transform: rotate(180deg);
}

.active {
  max-height: 100vh;
}

/* -------- ------------------------------------ -------- */
.masthead {
  background-image: url("./images/forex-hero-img.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 254px;
  width: 100%;
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
}

.masthead-title {
  color: #FFFFFF;
  font-size: 48px;
}

main {
  display: flex;
  flex-direction: row;
}

.main-content {
  width: calc(100% - 250px);
  margin-right: 56px;
}

.overview {
  font-size: 20px;
  line-height: 29px;
}

aside {
  width: 250px;
  height: 322px;
  padding: 16px;
  background-color: #FFFFFF;
  box-shadow: 0 0 4px 0 rgba(5, 35, 49, 0.14), 0 3px 4px 0 rgba(5, 35, 49, 0.12);
}

aside h3 {
  margin: 0;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  color: #1E3945;
  padding-top: 16px;
  text-decoration: none;
}

a::after {
  content: url("./images/ic_chevron_right.svg");
  float: right;
}
