.masthead {
  background-image: url('../images/forex-hero-img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 32px 0;
  height: 981px;	  // REMOVE
  width: 1306px;   //  REMOVE

}