.masthead {
  background-image: url('./images/forex-hero-img.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 254px;	  // REMOVE
  width: 100%;   //  REMOVE
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
 
  &-title {
    color: $white;
    font-size: 48px;
  }
}


