$sidebar-width: 250px;
$content-margin: 56px;

main {
  display: flex;
  flex-direction: column;
}

.content-container {
  margin-bottom: 40px;

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    margin-bottom: 48px;
  }

  &-text, &-second-text, &-tips-header {
    margin-bottom: 24px;
  }
}

.overview-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 16px 16px 48px 16px;

  // Desktop: 900px
  @media (min-width: #{$screen-tablet-large}) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
  }

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.overview-container-main {
  font-size: 20px;
  line-height: 29px;  

  // Desktop: 900px
  @media (min-width: #{$screen-tablet-large}) {
    width: calc(100% - #{$sidebar-width});
    margin-right: 56px;
  }

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    font-size: 20px;
    line-height: 29px;  
    margin-top: 0;
    width: calc(100% - #{$sidebar-width});
    margin-right: 64px;
  } 
}

aside {
  width: $sidebar-width;
  height: 322px;
  padding: 16px;
  background-color: $white;
  box-shadow: 0 0 4px 0 rgba(5,35,49,0.14), 0 3px 4px 0 rgba(5,35,49,0.12);

  h3 {
    margin: 0;
  }
}

nav {
  display: flex;
  flex-direction: column;

  a {
    color: $blue-dianne;
    padding-top: 16px;
    text-decoration: none;
  }
}

nav a::after {
  content: url('./images/ic_chevron_right.svg');
  float: right;
}

.numbered-block {
  radius: 2px;
  height: 58px;
  width: auto;
  border: 1px solid $porcelain;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 16px;
}


.main-content {
  margin: 16px;

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    width: calc(100% - #{$sidebar-width});
    margin: 0;
    padding-right: 56px;
  }
} 



