footer {
  padding: 0 16px 0 16px;

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    padding: 135px 0 40px 0;
  }
}

.outro-text {
  text-align: center;
  margin-top: 0;

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    text-align: center;
    margin-top: 0;
  }
}

.tile-container {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  width: 100%;
  margin-bottom: 32px;

  // Desktop: 900px
  @media (min-width: #{$screen-tablet-large}) {
    margin: 0 auto;
    flex-direction: row;
    margin-bottom: 48px;
  }

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    width: 1200px;
    margin-bottom: 62px;
  }
}

.tile-card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 97px;
  box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
  border-radius: 2px;
  background-color: $white;
  text-decoration: none;
  margin-top: 16px;

  // Desktop: 900px
  @media (min-width: #{$screen-tablet-large}) {
    margin-top: 0;
  }

  // Desktop: 1280px
  @media (min-width: #{$screen-desktop-large}) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 384px;
    height: 97px;
    box-shadow: 0 0 2px 0 rgba(5,35,49,0.14), 0 2px 2px 0 rgba(5,35,49,0.12);
    border-radius: 2px;
    background-color: $white;
    text-decoration: none;
  }
}

.middle-card {
  // Desktop: 900px
  @media (min-width: #{$screen-tablet-large}) {
  margin: 0 16px 0 16px;
  }
}

.tile-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 33%;
  height: 100%;
}

.tile-text {
  padding-left: 20px;
  width: 67%;
  font-weight: normal;

  h4 {
    color: $blue-dianne;
    font-size: 20px;
    text-decoration: none;
  }
}

